@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'Myriad-Pro';
  src: url("../fonts/Myriad-Pro.ttf"); }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.clear-left {
  clear: left; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none !important; }

body {
  font-family: 'Roboto-Medium';
  line-height: 1.5; }

.header-top {
  text-align: center;
  background: #f7f7f7; }

.logo h1 {
  font-size: 30px;
  margin: 0;
  padding-top: 15px;
  text-align: left; }
  .logo h1 a {
    color: #ff0101;
    text-decoration: none;
    padding-left: 13px; }
  .logo h1 span {
    color: #010101; }

.sign-in {
  text-align: center; }
  .sign-in #top-right {
    float: right;
    display: inline-block; }
  .sign-in a {
    background: #eeeeee;
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    display: inline-block;
    float: left;
    color: #555555;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Roboto-Medium';
    border-right: 1px solid #fff; }
  .sign-in .red-color {
    color: red; }
    .sign-in .red-color span {
      color: black;
      font-size: 14px; }

#stieNavigation {
  background: #010101; }

#mainNavigation {
  background: none;
  border: none; }
  #mainNavigation .nav a {
    text-shadow: none;
    color: #fff;
    font-family: 'Myriad-Pro';
    font-size: 13px; }
  #mainNavigation .nav li > a:focus,
  #mainNavigation .nav a:hover {
    color: #fff;
    text-decoration: none;
    background: none; }
  #mainNavigation .nav .active > a {
    color: #fff;
    background: none;
    box-shadow: none; }
    #mainNavigation .nav .active > a:hover {
      background: none;
      box-shadow: none; }
  #mainNavigation .nav .open > a,
  #mainNavigation .nav .open > a:hover,
  #mainNavigation .nav .open > a:focus {
    background: none; }
  #mainNavigation .dropdown-menu {
    background: none; }

.slider-text, .logo {
  font-family: 'OpenSans-Light'; }

#slider {
  background: url("../img/slider.jpg") no-repeat;
  padding-bottom: 50px;
  background-size: cover; }
  #slider img {
    max-width: 100%;
    margin-top: 50px; }
  #slider .slider-text {
    color: #fff; }
    #slider .slider-text h3 {
      font-size: 23px;
      line-height: 1.3; }
      @media screen and (min-width: 480px) {
        #slider .slider-text h3 {
          font-size: 36px;
          line-height: 1.3; } }
      @media screen and (min-width: 768px) {
        #slider .slider-text h3 {
          font-size: 33px;
          line-height: 1.2; } }
      @media screen and (min-width: 1024px) {
        #slider .slider-text h3 {
          font-size: 40px;
          line-height: 1.2; } }
      @media screen and (min-width: 1200px) {
        #slider .slider-text h3 {
          font-size: 52px;
          line-height: 1.2; } }
    #slider .slider-text p {
      font-size: 16px; }

@media (max-width: 767px) {
  .sign-in #top-right {
    float: none; }
  #mainNavigation {
    text-align: center; }
  .logo h1 {
    text-align: center;
    padding-bottom: 20px; }
  .sign-in {
    padding-bottom: 20px; } }

@media (min-width: 768px) {
  #slider .slider-text {
    margin-left: 60px;
    margin-top: 114px; } }

@media (min-width: 992px) {
  #slider .slider-text {
    margin-left: 109px;
    margin-top: 140px; } }
