@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'Myriad-Pro';
  src: url("../fonts/Myriad-Pro.ttf"); }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.clear-left {
  clear: left; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none !important; }

body {
  font-family: 'Roboto-Medium';
  line-height: 1.5; }

.header-top {
  text-align: center;
  background: #f7f7f7; }

.logo h1 {
  font-size: 30px;
  margin: 0;
  padding-top: 15px;
  text-align: left; }
  .logo h1 a {
    color: #ff0101;
    text-decoration: none;
    padding-left: 13px; }
  .logo h1 span {
    color: #010101; }

.sign-in {
  text-align: center; }
  .sign-in #top-right {
    float: right;
    display: inline-block; }
  .sign-in a {
    background: #eeeeee;
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    display: inline-block;
    float: left;
    color: #555555;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Roboto-Medium';
    border-right: 1px solid #fff; }
  .sign-in .red-color {
    color: red; }
    .sign-in .red-color span {
      color: black;
      font-size: 14px; }

#stieNavigation {
  background: #010101; }

#mainNavigation {
  background: none;
  border: none; }
  #mainNavigation .nav a {
    text-shadow: none;
    color: #fff;
    font-family: 'Myriad-Pro';
    font-size: 13px; }
  #mainNavigation .nav li > a:focus,
  #mainNavigation .nav a:hover {
    color: #fff;
    text-decoration: none;
    background: none; }
  #mainNavigation .nav .active > a {
    color: #fff;
    background: none;
    box-shadow: none; }
    #mainNavigation .nav .active > a:hover {
      background: none;
      box-shadow: none; }
  #mainNavigation .nav .open > a,
  #mainNavigation .nav .open > a:hover,
  #mainNavigation .nav .open > a:focus {
    background: none; }
  #mainNavigation .dropdown-menu {
    background: none; }

.slider-text,
.logo {
  font-family: 'OpenSans-Light'; }

#slider {
  background: url("../img/slider.jpg") no-repeat;
  padding-bottom: 50px;
  background-size: cover; }
  #slider img {
    max-width: 100%;
    margin-top: 50px; }
  #slider .slider-text {
    color: #fff; }
    #slider .slider-text h3 {
      font-size: 23px;
      line-height: 1.3; }
      @media screen and (min-width: 480px) {
        #slider .slider-text h3 {
          font-size: 36px;
          line-height: 1.3; } }
      @media screen and (min-width: 768px) {
        #slider .slider-text h3 {
          font-size: 33px;
          line-height: 1.2; } }
      @media screen and (min-width: 1024px) {
        #slider .slider-text h3 {
          font-size: 40px;
          line-height: 1.2; } }
      @media screen and (min-width: 1200px) {
        #slider .slider-text h3 {
          font-size: 52px;
          line-height: 1.2; } }
    #slider .slider-text p {
      font-size: 16px; }

#search-area {
  background-color: #deeaef;
  background-image: linear-gradient(to right,#deeaef, #f9efe6);
  padding: 10px 0; }
  #search-area label {
    color: #df1f26;
    margin-right: 20px; }
  #search-area .form-group {
    margin: 0; }
  #search-area input {
    background: #c9c9c9;
    width: 250px;
    border: none;
    height: 32px;
    padding-left: 10px;
    color: #df1f26; }
  #search-area button {
    background: #df1f26;
    width: 40px;
    height: 32px;
    border: none;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin-left: -5px; }

#main-content {
  background: #eeeeee; }
  #main-content .product-title {
    color: #fff;
    background: #df1f26;
    padding: 10px;
    padding-left: 20px; }
  #main-content .product-menu {
    margin: 0.75em 0;
    padding: 0;
    list-style: none; }
    #main-content .product-menu li {
      height: 40px;
      position: relative;
      padding-bottom: 7px;
      border-bottom: 2px solid #e2e3e3; }
      #main-content .product-menu li:last-child {
        border-bottom: none; }
      #main-content .product-menu li a {
        color: #333333;
        font-size: 15px;
        text-decoration: none;
        display: block;
        width: 100%;
        padding-left: 30px;
        height: 38px;
        line-height: 40px;
        top: 0;
        position: absolute; }
        #main-content .product-menu li a:hover {
          background-color: #fff;
          background-image: linear-gradient(to right,#fff 98%, #df1f26 2%); }
      #main-content .product-menu li:before {
        content: "";
        border-color: transparent #e8e681;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: 1.2em;
        top: 1em;
        position: relative;
        z-index: 3; }

@media (max-width: 479px) {
  #search-area {
    text-align: center; }
    #search-area label {
      display: block; } }

@media (max-width: 767px) {
  .sign-in #top-right {
    float: none; }
  #mainNavigation {
    text-align: center; }
  .logo h1 {
    text-align: center;
    padding-bottom: 20px; }
  .sign-in {
    padding-bottom: 20px; } }

@media (min-width: 768px) {
  #slider .slider-text {
    margin-left: 60px;
    margin-top: 114px; } }

@media (min-width: 992px) {
  #slider .slider-text {
    margin-left: 109px;
    margin-top: 140px; } }
